:root {
   --color-black: #121212;
   --color-white: #f0f0f0;
   --color-1: #0477bf;
   --color-2: #049dd9;
   --color-3: #04b2d9;
   --color-4: #5ed7f2;
   --color-5: #f2bb13;
   --shadow-button: 0px 0.2rem 0.5rem rgba(4, 119, 191, 0.2);
   --shadow-button-hover: 0px 0.5rem 1rem rgba(4, 119, 191, 0.4);
   --transition-button: all 0.5s ease;
   --border-radius: 0.5rem;
}
.btn {
   background: var(--color-3);
   color: var(--color-white);
   cursor: pointer;
   font-size: 1.3rem;
   padding: 0 1.5rem;
   margin: 0 1rem;
   border: 0;
   border-radius: var(--border-radius);
   width: auto;
   position: relative;
   min-width: 200px;

   -webkit-box-transition: var(--transition-button);
   -moz-box-transition: var(--transition-button);
   transition: var(--transition-button);

   -webkit-box-shadow: var(--shadow-button);
   -moz-box-shadow: var(--shadow-button);
   box-shadow: var(--shadow-button);
}
.btn:hover {
   background: var(--color-2);
   color: var(--color-white);
   border-radius: var(--border-radius);
   padding: 0 3rem 0 1.5rem;

   -webkit-box-transition: var(--transition-button);
   -moz-box-transition: var(--transition-button);
   transition: var(--transition-button);

   -webkit-box-shadow: var(--shadow-button-hover);
   -moz-box-shadow: var(--shadow-button-hover);
   box-shadow: var(--shadow-button-hover);
}
.anim-btn::after {
   position: absolute;
   left: 80%;
   top: 45%;
   right: 0;
   bottom: 0;
   opacity: 0;
   transform: translate(-50%, -50%);
}
.anim-btn:hover::after {
   color: var(--color-white);
   opacity: 1;

   -webkit-box-transition: var(--transition-button);
   -moz-box-transition: var(--transition-button);
   transition: var(--transition-button);
}
.twitter-btn::after {
   font-family: 'Font Awesome 5 Free';
   font-weight: 400;
   content: '\f35a';
   margin-top: 0.1rem;
}
.quote-btn::after {
   font-family: 'Font Awesome 5 Free';
   font-weight: 400;
   content: '\f358';
   margin-top: 0.1rem;
}
